<!-- <section class="site-section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5 position-relative">
          <h2 class="section-title text-center mb-5 text-white">What Client Are Sayings</h2>
        </div>
      </div>
      <div class="owl-carousel slide-one-item">
        <div class="slide">
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><cite>&mdash; Jean Smith</cite></p>
          </blockquote>
        </div>
        <div class="slide">
          <blockquote>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><cite>&mdash; Carl Spencer</cite></p>
          </blockquote>
        </div>
        <div class="slide">
          <blockquote>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p><cite>&mdash; Ryan Peters</cite></p>
          </blockquote>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="site-section" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5 position-relative">
          <h2 class="section-title text-center mb-5">Contact Form</h2>
        </div>
      </div>
      <form action="#" class="form">
        <div class="row mb-4">
          <div class="form-group col-6">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="form-group col-6">
            <input type="text" class="form-control" placeholder="Full name">
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-12">
            <input type="email" class="form-control" placeholder="Email address">
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Subject of the message">
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-12">
            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Type your message here.."></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Send Message">
          </div>
        </div>
        
      </form>
    </div>
  </section> -->
